<%- include('partials/header') -%>



<form class="form-signin" action="/logout?_method=DELETE" method="POST">
  <h1>hi <%= users.name%></h1>

  <button type="submit" name="button">Log Out</button>
</form>

<%- include('partials/footer') -%>
